<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Template/css/styles.css" rel="stylesheet" />


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <link href="~/Content/Spinner.css" rel="stylesheet" />
    <link href="~/Template/css/fa-all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>

    <script src="~/Template/js/fa-all.min.js"></script>

</head>
<body class="sb-nav-fixed">

    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Index">
            Thaksalawa
        </a>
        @*<button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
                <i class="fas fa-bars"></i>
            </button>*@

        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"> </i>
        </button>

        <div class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        </div>

        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <div class="dropdown-item" style="text-align:center;">
                        @Html.ActionLink("Logout", "Login", "Home")
                    </div>
                </div>
            </li>
        </ul>

    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">

                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Main Menu</div>

                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mnuFile" aria-expanded="false" aria-controls="mnuFile">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Student
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="mnuFile" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Student/Register">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>Register</span>
                                    </a>

                                </nav>
                            </nav>
                        </div>
                        <div class="collapse" id="mnuFile" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Student/ListAll/">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>View/Edit</span>
                                    </a>

                                </nav>
                            </nav>
                        </div>


                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mnuTeacher" aria-expanded="false" aria-controls="mnuTeacher">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Teacher
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="mnuTeacher" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Teacher/Register">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>Register</span>
                                    </a>

                                </nav>
                            </nav>
                        </div>
                        <div class="collapse" id="mnuTeacher" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Teacher/ListAll">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>View/Edit</span>
                                    </a>

                                </nav>
                            </nav>
                        </div>



                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mnuSubject" aria-expanded="false" aria-controls="mnuSubject">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Subject
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="mnuSubject" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Subject/Create">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>Create</span>
                                    </a>
                                </nav>
                            </nav>
                        </div>
                        <div class="collapse" id="mnuSubject" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Subject/ListAll">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>View/Edit</span>
                                    </a>
                                </nav>
                            </nav>
                        </div>



                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mnuExam" aria-expanded="false" aria-controls="mnuExam">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Exam
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="mnuExam" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Exam/Create">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>Create</span>
                                    </a>
                                </nav>
                            </nav>
                        </div>
                        <div class="collapse" id="mnuExam" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Exam/ListAll">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>View/Edit</span>
                                    </a>
                                </nav>
                            </nav>
                        </div>

                        <div class="collapse" id="mnuExam" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Exam/Result">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>Result</span>
                                    </a>
                                </nav>
                            </nav>
                        </div>


                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mnuAssignment" aria-expanded="false" aria-controls="mnuAssignment">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            Assignment
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>
                        <div class="collapse" id="mnuAssignment" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a href="~/Assignment/Create">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>Create</span>
                                    </a>
                                </nav>
                            </nav>
                        </div>
                        <div class="collapse" id="mnuAssignment" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Assignment/ListAll">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>View/Edit</span>
                                    </a>
                                </nav>
                            </nav>
                        </div>
                        <div class="collapse" id="mnuAssignment" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordion{mnuFile}">
                                <nav class="sb-sidenav-menu-nested nav">

                                    <a href="~/Assignment/Result">
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                        <span>Result</span>
                                    </a>
                                </nav>
                            </nav>
                        </div>

                        <a class="nav-link collapsed" href="~/Home/AllResults">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            All Results
                            <div class="sb-sidenav-collapse-arrow">
                                <i class="fas fa-angle-down"></i>
                            </div>
                        </a>


                    </div>

                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    @*@session.FullName*@
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Suresh Madhushanka H R 2022</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <div class="spinner" id="spinner" style="display:none;"></div>

    <script>

        (function ($) {
            "use strict";

            // Add active state to sidbar nav links
            var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
            $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function () {
                if (this.href === path) {
                    $(this).addClass("active");
                }
            });

            // Toggle the side navigation
            $("#sidebarToggle").on("click", function (e) {
                //alert('sidebar toggled');
                e.preventDefault();
                $("body").toggleClass("sb-sidenav-toggled");
            });
        })(jQuery);


        function showLoader() {
            document.getElementById("spinner").style.display = "block";
        }

        function hideLoader() {
            document.getElementById("spinner").style.display = "none";
        }

    </script>



</body>
</html>
