@{
        ViewBag.Title = "SIMManageData";
    Layout = "~/Views/Shared/_LayoutStudentReg.cshtml";
}

<div class="jumbotron">
    <h1>Welcome to the Thaksalawa - School Management System</h1>
   
</div>

